html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* FOOTER.START */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(121, 121, 121, 0.4);
}
/* FOOTER.END */